In [1]:
import pandas as pd
import numpy as np

In [2]:
class WholeProject:
    
    def extract_file_names(self):
        folder_path='D:/program/Entry_To_DS/Greenridertech/Project Agritech/Datasets/CSV Formated'  # Replace this with the path to your folder
        file_format='.csv'
        import os
        files = []
        for filename in os.listdir(folder_path):
            if filename.endswith(file_format):
                files.append(filename)
        return files
    
    # To read the dataset
    def data_merging(self, data):
        self.df = pd.DataFrame()
        for data_frame in data:
            df1 = pd.read_csv('Datasets/CSV Formated'+'/'+data_frame,skiprows=[0])
            self.df = pd.concat([self.df, df1], ignore_index=True)
        return self.df
    
    def calculate_length(self,data):
        cnt = 0
        for val in data:
            df1 = pd.read_csv('Datasets/CSV Formated'+'/'+val,skiprows=[0])
            cnt += len(df1)
            print(val,'-->', len(df1))
        return cnt
    
    def check_missing(self,data):
        return data.isnull().sum()
    
    def handle_missing(self,col,data):
        data.fillna(value=data[col].mode()[0], inplace=True)
    
    def drop_unwanted_columns(self,col,data):
        data.drop(columns=col,axis=1,inplace=True)
    
    def rename_columns(self,col,new_col,data):
        data.rename(columns={col:new_col},inplace=True)
    
    def set_date_order(self,col,data):
        data[col] = pd.to_datetime(data[col],format="%d-%b-%y", dayfirst=True)
    
    def extract_year(self,col,data):
            data['Year'] = data[col].dt.year
            
    def update_Arrivals_column(self,col,data):
        data[col] = data[col].str.replace(',', '').astype(float)
        data[col] = data[col]*10
        self.rename_columns(col,'Arrivals (Quintal)',data)
    
    def sort_by_year(self,data):
        data.sort_values(by='Year',ascending=True)

In [3]:
obj = WholeProject()

In [4]:
file_names = obj.extract_file_names()
file_names

['Cotton.csv',
 'Cowpea (Lobia).csv',
 'Cowpea(Veg).csv',
 'Cucumbar(Kheera).csv',
 'Cummin Seed(Jeera).csv',
 'Custard Apple (Sharifa).csv',
 'Drumstick.csv',
 'Dry Chillies.csv',
 'Field Pea.csv',
 'Foxtail Millet(Navane).csv',
 'French Beans (Frasbean).csv',
 'Gingelly Oil.csv',
 'Ginger(Dry).csv',
 'Ginger(Green).csv',
 'Gram Raw(Chholia).csv',
 'Grapes.csv',
 'Green Gram Dal (Moong Dal).csv',
 'Green Peas.csv',
 'Ground Nut Seed.csv',
 'Groundnut (Split).csv',
 'Groundnut pods (raw).csv',
 'Groundnut.csv',
 'Guar Seed(Cluster Beans Seed).csv',
 'Guar.csv',
 'Guava.csv',
 'Gur(Jaggery).csv',
 'Gurellu.csv',
 'Hippe Seed.csv',
 'Honge seed.csv',
 'Indian Beans (Seam).csv',
 'Isabgul (Psyllium).csv',
 'Jack Fruit.csv',
 'Jamun(Narale Hannu).csv',
 'Jowar(Sorghum).csv']

In [5]:
full_data = obj.data_merging(file_names)
full_data.Variety.unique()

array(['Desi', 'Other', 'DCH-32 (Ginned)', 'H4', 'Cotton (Unginned)',
       'Cotton US', 'Local', 'Y-1', 'LRA (Ginned)', 'LRA', 'RCH-2',
       'DCH-32(Unginned)', 'H-4(A) 27mm FIne', 'A.C. 122- H4', 'MECH-4',
       'MECH-1', 'Cowpea (Whole)', 'Cowpea (Veg)', 'Cucumbar', 'Bold',
       'Medium', 'Custard Apple(Sharifa)', 'Drumstick', 'Red', '1st Sort',
       'Field Pea', 'Navane Hybrid', 'French Beans (Frasbean)', 'Hybrid',
       'Big/Thick', 'Dry', 'Vegitable-fresh', 'Green Ginger',
       'Gram Raw(Chholia)', 'Annabesahai', 'Indian', 'Green',
       'Green Gram Dal', 'Small (Split)', 'Gemin Peas Dal', 'Green Peas',
       'Ground Nut Seed', 'Groundnut(Split)', 'Groundnut pods (raw)',
       'Balli/Habbu', 'Big (With Shell)', 'Groundnut seed', 'Seed',
       'F.A.Q', 'JL-24', 'Bold Kernel', 'Shelled (Bunch)', 'Whole',
       'Gwar', 'Guava', 'Achhu', 'Yellow', 'Anakapalli', 'Gurellu',
       'Hippe Seed', 'Indian Beans (Seam)', 'Isabgul (Psyllium)',
       'Jack Fruit', 'Jamun', 'Jowar ( White)', 'Annigeri', 'White',
       'Jowar Hybrid', 'Jowar (Yellow)', 'H.B'], dtype=object)

In [6]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96673 entries, 0 to 96672
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 96673 non-null  object
 1   District Name              96673 non-null  object
 2   Market Name                96673 non-null  object
 3   Variety                    96673 non-null  object
 4   Group                      96673 non-null  object
 5   Arrivals (Tonnes)          95548 non-null  object
 6   Min Price (Rs./Quintal)    96673 non-null  float64
 7   Max Price (Rs./Quintal)    96673 non-null  float64
 8   Modal Price (Rs./Quintal)  96673 non-null  float64
 9   Reported Date              96673 non-null  object
dtypes: float64(3), object(7)
memory usage: 7.4+ MB

In [7]:
len(full_data.Group.unique())

11

In [8]:
obj.calculate_length(file_names)

Cotton.csv --> 21568
Cowpea (Lobia).csv --> 7
Cowpea(Veg).csv --> 880
Cucumbar(Kheera).csv --> 17097
Cummin Seed(Jeera).csv --> 294
Custard Apple (Sharifa).csv --> 1
Drumstick.csv --> 467
Dry Chillies.csv --> 188
Field Pea.csv --> 965
Foxtail Millet(Navane).csv --> 616
French Beans (Frasbean).csv --> 845
Gingelly Oil.csv --> 61
Ginger(Dry).csv --> 6187
Ginger(Green).csv --> 9198
Gram Raw(Chholia).csv --> 145
Grapes.csv --> 2596
Green Gram Dal (Moong Dal).csv --> 1092
Green Peas.csv --> 3776
Ground Nut Seed.csv --> 311
Groundnut (Split).csv --> 1
Groundnut pods (raw).csv --> 515
Groundnut.csv --> 7991
Guar Seed(Cluster Beans Seed).csv --> 1383
Guar.csv --> 4294
Guava.csv --> 816
Gur(Jaggery).csv --> 2834
Gurellu.csv --> 1
Hippe Seed.csv --> 2
Honge seed.csv --> 7
Indian Beans (Seam).csv --> 2396
Isabgul (Psyllium).csv --> 1808
Jack Fruit.csv --> 1428
Jamun(Narale Hannu).csv --> 67
Jowar(Sorghum).csv --> 6836

96673

In [14]:
full_data.to_csv('agritech_merged_crops.csv',index=False)

In [15]:
df1 = pd.read_csv('agritech_merged_crops.csv')
df1

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
0,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,58.2,5500.0,7000.0,6500.0,20-Dec-23
1,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,62.1,6000.0,7000.0,6500.0,19-Dec-23
2,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,33,5500.0,7000.0,6500.0,18-Dec-23
3,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,85.3,6200.0,6801.0,6500.0,17-Dec-23
4,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,66.8,6200.0,6811.0,6600.0,16-Dec-23
...,...,...,...,...,...,...,...,...,...,...
96668,Madhya Pradesh,Vidisha,Vidisha,Jowar ( White),Cereals,2.8,1211.0,1350.0,1250.0,08-Nov-21
96669,Madhya Pradesh,Vidisha,Vidisha,Jowar ( White),Cereals,5.3,1250.0,1320.0,1300.0,30-Oct-21
96670,Madhya Pradesh,Vidisha,Vidisha,Jowar ( White),Cereals,6.9,1131.0,1341.0,1250.0,28-Oct-21
96671,Madhya Pradesh,Vidisha,Vidisha,Jowar ( White),Cereals,6,1202.0,1380.0,1300.0,27-Oct-21
96672,Madhya Pradesh,Vidisha,Vidisha,Jowar ( White),Cereals,2.2,1340.0,1510.0,1400.0,26-Oct-21

## Cotton

In [4]:
df1 = obj.read_dataset('Datasets/CSV Formated/Cotton.csv')
df1

,Both Price And Arrival from 07-Jan-2018 To 31-Dec-2023 Total Arrival- 3769270.22,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
1,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,58.2,5500,7000,6500,20-Dec-23
2,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,62.1,6000,7000,6500,19-Dec-23
3,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,33,5500,7000,6500,18-Dec-23
4,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,85.3,6200,6801,6500,17-Dec-23
...,...,...,...,...,...,...,...,...,...,...
21564,Madhya Pradesh,Jhabua,Thandla,DCH-32 (Ginned),Fibre Crops,450,5700,5900,5800,26-Jan-18
21565,Madhya Pradesh,Jhabua,Thandla,DCH-32 (Ginned),Fibre Crops,300,5600,5800,5700,25-Jan-18
21566,Madhya Pradesh,Jhabua,Thandla,DCH-32 (Ginned),Fibre Crops,350,5700,5900,5800,24-Jan-18
21567,Madhya Pradesh,Jhabua,Thandla,DCH-32 (Ginned),Fibre Crops,300,5600,5800,5700,23-Jan-18
21568,Madhya Pradesh,Jhabua,Thandla,DCH-32 (Ginned),Fibre Crops,250,5500,5700,5600,22-Jan-18

In [5]:
col = df1.columns
for i in range(len(col)):
    obj.rename_columns(col[i],df1.iloc[0,i],df1)
df1.drop(0,inplace=True)
df1.head()

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
1,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,58.2,5500,7000,6500,20-Dec-23
2,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,62.1,6000,7000,6500,19-Dec-23
3,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,33,5500,7000,6500,18-Dec-23
4,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,85.3,6200,6801,6500,17-Dec-23
5,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,66.8,6200,6811,6600,16-Dec-23

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21568 entries, 1 to 21568
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 21568 non-null  object
 1   District Name              21568 non-null  object
 2   Market Name                21568 non-null  object
 3   Variety                    21568 non-null  object
 4   Group                      21568 non-null  object
 5   Arrivals (Tonnes)          20535 non-null  object
 6   Min Price (Rs./Quintal)    21568 non-null  object
 7   Max Price (Rs./Quintal)    21568 non-null  object
 8   Modal Price (Rs./Quintal)  21568 non-null  object
 9   Reported Date              21568 non-null  object
dtypes: object(10)
memory usage: 1.6+ MB

In [7]:
obj.check_missing(df1)

State Name                      0
District Name                   0
Market Name                     0
Variety                         0
Group                           0
Arrivals (Tonnes)            1033
Min Price (Rs./Quintal)         0
Max Price (Rs./Quintal)         0
Modal Price (Rs./Quintal)       0
Reported Date                   0
dtype: int64

#### Arrivals column has null values

#### To update the Reported Date column and to extract year

In [8]:
obj.set_date_order('Reported Date',df1)
obj.extract_year('Reported Date',df1)
df1.head()

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date,Year
1,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,58.2,5500,7000,6500,2023-12-20,2023
2,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,62.1,6000,7000,6500,2023-12-19,2023
3,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,33,5500,7000,6500,2023-12-18,2023
4,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,85.3,6200,6801,6500,2023-12-17,2023
5,Madhya Pradesh,Alirajpur,Alirajpur,Desi,Fibre Crops,66.8,6200,6811,6600,2023-12-16,2023

#### To update the Arrivals column and change the three price columns into float

In [9]:
obj.update_Arrivals_column('Arrivals (Tonnes)',df1)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21568 entries, 1 to 21568
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 21568 non-null  object
 1   District Name              21568 non-null  object
 2   Market Name                21568 non-null  object
 3   Variety                    21568 non-null  object
 4   Group                      21568 non-null  object
 5   Arrivals (Quintal)         20535 non-null  float64
 6   Min Price (Rs./Quintal)    21568 non-null  object
 7   Max Price (Rs./Quintal)    21568 non-null  object
 8   Modal Price (Rs./Quintal)  21568 non-null  object
 9   Reported Date              21568 non-null  datetime64[ns]
 10  Year                       21568 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.8+ MB

In [11]:
df1.iloc[:,6:9] = df1.iloc[:,6:9].astype(float)

C:\Users\USER\AppData\Local\Temp\ipykernel_13076\2289677471.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df1.iloc[:,6:9] = df1.iloc[:,6:9].astype(float)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21568 entries, 1 to 21568
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 21568 non-null  object
 1   District Name              21568 non-null  object
 2   Market Name                21568 non-null  object
 3   Variety                    21568 non-null  object
 4   Group                      21568 non-null  object
 5   Arrivals (Quintal)         20535 non-null  float64
 6   Min Price (Rs./Quintal)    21568 non-null  float64
 7   Max Price (Rs./Quintal)    21568 non-null  float64
 8   Modal Price (Rs./Quintal)  21568 non-null  float64
 9   Reported Date              21568 non-null  datetime64[ns]
 10  Year                       21568 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 1.8+ MB

In [13]:
df1.Variety.value_counts()

Other                8298
H4                   6701
Desi                 2004
DCH-32(Unginned)     1584
Cotton (Unginned)    1262
DCH-32 (Ginned)       899
MECH-1                253
Cotton US             164
Local                 148
LRA                   125
H-4(A) 27mm FIne       55
Y-1                    25
LRA (Ginned)           19
A.C. 122- H4           18
MECH-4                 10
RCH-2                   3
Name: Variety, dtype: int64

In [14]:
df1.Group.value_counts()

Fibre Crops    21568
Name: Group, dtype: int64

## Cowpea (Lobia) Low Data

In [15]:
df2 = obj.read_dataset('Datasets/CSV Formated/Cowpea (Lobia).csv')
df2

,Both Price And Arrival from 07-Jan-2018 To 31-Dec-2023 Total Arrival- 51.70,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
1,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,8.3,3629,6750,5500,26-Nov-18
2,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,13.2,6700,6700,6700,27-Oct-18
3,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,0.8,9200,9225,9215,25-Jul-18
4,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,6.1,9315,9315,9315,29-May-18
5,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,16.5,6979,9359,8159,18-May-18
6,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,6.1,9500,9500,9500,09-Jan-18
7,Madhya Pradesh,Neemuch,Neemuch,Cowpea (Whole),Pulses,0.7,14702,15700,15151,27-Apr-18

In [16]:
col = df2.columns
for i in range(len(col)):
    obj.rename_columns(col[i],df2.iloc[0,i],df2)
df2.drop(0,inplace=True)
df2.head()

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
1,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,8.3,3629,6750,5500,26-Nov-18
2,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,13.2,6700,6700,6700,27-Oct-18
3,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,0.8,9200,9225,9215,25-Jul-18
4,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,6.1,9315,9315,9315,29-May-18
5,Madhya Pradesh,Khargone,Kasrawad,Cowpea (Whole),Pulses,16.5,6979,9359,8159,18-May-18

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 1 to 7
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 7 non-null      object
 1   District Name              7 non-null      object
 2   Market Name                7 non-null      object
 3   Variety                    7 non-null      object
 4   Group                      7 non-null      object
 5   Arrivals (Tonnes)          7 non-null      object
 6   Min Price (Rs./Quintal)    7 non-null      object
 7   Max Price (Rs./Quintal)    7 non-null      object
 8   Modal Price (Rs./Quintal)  7 non-null      object
 9   Reported Date              7 non-null      object
dtypes: object(10)
memory usage: 692.0+ bytes