In [3]:
import pandas as pd
df=pd.read_csv('Crops_from_Absinthe_to_Corriander-seed.csv')
df.head()

C:\Users\aksha\AppData\Local\Temp\ipykernel_14872\3948235877.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Crops_from_Absinthe_to_Corriander-seed.csv')

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
0,Madhya Pradesh,Chhindwara,Amarwda,Arhar Dal(Tur),Pulses,2.5,4000.0,4000.0,4000.0,18-Oct-23
1,Madhya Pradesh,Chhindwara,Amarwda,Arhar Dal(Tur),Pulses,0.5,8000.0,8000.0,8000.0,17-Jul-23
2,Madhya Pradesh,Chhindwara,Amarwda,Arhar Dal(Tur),Pulses,8,8000.0,8200.0,8100.0,16-Jul-23
3,Madhya Pradesh,Chhindwara,Amarwda,Arhar Dal(Tur),Pulses,2.5,6000.0,6500.0,6250.0,16-May-23
4,Madhya Pradesh,Chhindwara,Amarwda,Arhar Dal(Tur),Pulses,9,6500.0,7000.0,6550.0,22-Mar-23

In [4]:
df.columns

Index(['State Name', 'District Name', 'Market Name', 'Variety', 'Group',
       'Arrivals (Tonnes)', 'Min Price (Rs./Quintal)',
       'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)',
       'Reported Date'],
      dtype='object')

In [5]:
df['Variety'].unique()

array(['Arhar Dal(Tur)', 'Ordinary (Split)', 'Ajwan', 'Other',
       'Alasande Gram', 'Alsandikai', 'Ambada Seed', 'Amla', 'Amaranthus',
       'Antawala', 'Apple', 'Red Gold', 'Simla', 'Royal Delicious',
       'American', 'Delicious', 'Apricot(Jardalu/Khumani)', 'Deshi',
       'Local', 'Bold', 'Hybrid', 'Amruthapani', 'Khandesh',
       'Banana - Ripe', 'Desi(Bontha)', 'Bhushavali(Pacha)', 'Medium',
       'Beans (Whole)', 'Beaten Rice', 'Beetroot', 'Bengal Gram (Split)',
       'Desi (F.A.Q. Split)', 'Bengal Gram Dal', 'Kabal (Split)',
       'Ber(Zizyphus)', 'Bitter Gourd', 'Black Gram Dal', 'Bottle Gourd',
       'Cabbage', 'Capsicum', 'Carrot', 'Castor seed', 'Caster',
       'Chennangi (W)', 'Gram Kata', 'Chennangi Dal', 'Sapota', 'Red',
       'Grade II', 'Dry Sup', 'Cinamon(Dalchini)', 'Cluster Beans',
       'Colacasia', 'Coriander', 'Ashgourd', 'Avare (W-S)'], dtype=object)

In [6]:
len(df['Variety'].unique())

56

In [7]:
df=pd.DataFrame({'date':['10-Jul-18','10-Jul-18','10-Jul-18']})
df.head()

        date
0  10-Jul-18
1  10-Jul-18
2  10-Jul-18

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [9]:
df['date'] = pd.to_datetime(df['date'], format='%d-%b-%y')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 152.0 bytes